.padre{ 
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}

.imagen{ 
    display: inline-block;
    margin-left: 100px;
    width: 500px;
    height: auto;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
    border: solid 1px black;
}

.imagenNosotros{ 
    display: inline;
    width: 400px;
    height: 400px;
}


a{
    text-decoration: none;
    text-transform: uppercase;
}

header{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{ 
   text-align: center;
}

h1{ 
    color: blueviolet;
    
 }


 .horizontal{ 
    width: 100%;
    height: 500px;
 }


 .card-img-top {

    height: 35vh;
    object-fit: contain;

}

